<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>SignVision</title>
</head>
<body>
    <nav>
        <ul>
            <li class="logo"><img src="static/svlogo.png" alt="Logo"></li>
            <li><a href="/">Home</a></li>
            <li><a href="/campreview">Cam Test</a></li>
            <li><a href="/longtermlearn">Long Term Learning</a></li>
        </ul>
    </nav>
    
<center>
    <h1 id="main"><u>Welcome to Sign Vision!</u></h1>
    <h2 id="secondary">Lets Master ASL Together!</h2>
    <img src="static/SignLanguage.gif" alt="ASL" width="30%" height="30%">
    <!-- Add your content here -->
</center>
</body>
</html>
