<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>Flask Navbar Demo</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/campreview">Camera Test</a></li>
            <li><a href="/longtermlearn">Long Term Learning</a></li>
        </ul>
    </nav>

    <div id="centeralign">
        <h1 style="font-size:42px"><u>Lets Start Learning!</u></h1>
        <div id="instructions">
            <h2>Instructions:</h2>
            <ul>
                <li>After clicking the "Go To Learn Test" button below, your camera will turn on.</li>
                <li>You will have 10 seconds to make the right hand sign.</li>
                <li>After that, hit next and let our algorithms help you memorize effectively.</li>
            </ul>
        </div>
        <div style="height:30px"></div>
        <a href="/learntest" class="button">Go to Learn Test</a>
    </div>
    <!-- Add your content here -->
</body>
</html>
