<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>Flask Navbar Demo</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/campreview">Camera Test</a></li>
            <li><a href="/longtermlearn">Long Term Learning</a></li>

        </ul>
    </nav>
    
    <h1>Welcome to Flask Navbar Demo</h1>
    
    <a href="#" class="button" id="next-button" style="display: none;" onclick="restartTimer()">Next</a>
</body>
</html>
